USE [master]
GO
/****** Object:  Database [SportsRecommendation]    Script Date: 30.05.2024 19:01:53 ******/
CREATE DATABASE [SportsRecommendation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SportsRecommendation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SportsRecommendation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SportsRecommendation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SportsRecommendation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SportsRecommendation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SportsRecommendation]
GO
/****** Object:  User [user1]    Script Date: 30.05.2024 19:01:53 ******/
CREATE USER [user1] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Achievement]    Script Date: 30.05.2024 19:01:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Achievement](
	[achievement_id] [int] IDENTITY(1,1) NOT NULL,
	[regUser_id] [int] NOT NULL,
	[sport_id] [int] NOT NULL,
	[achievement_name] [varchar](100) NOT NULL,
	[achievement_type] [varchar](50) NOT NULL,
	[category] [varchar](50) NULL,
	[competition_result] [int] NULL,
	[achievement_date] [int] NULL,
 CONSTRAINT [PK__Achievem__3C492E8382117798] PRIMARY KEY CLUSTERED 
(
	[achievement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 30.05.2024 19:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[rating_id] [int] IDENTITY(1,1) NOT NULL,
	[regUser_id] [int] NOT NULL,
	[section_id] [int] NOT NULL,
	[explicit_] [bit] NOT NULL,
	[rating_weight] [int] NOT NULL,
	[rating_type] [varchar](50) NOT NULL,
	[rating_date] [date] NOT NULL,
	[request_text] [varchar](1000) NULL,
 CONSTRAINT [PK__Rating__D35B278BE37C3136] PRIMARY KEY CLUSTERED 
(
	[rating_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegUser]    Script Date: 30.05.2024 19:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegUser](
	[regUser_id] [int] IDENTITY(1,1) NOT NULL,
	[regUser_name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[regUser_key] [binary](20) NOT NULL,
	[salt] [binary](20) NOT NULL,
	[height] [int] NOT NULL,
	[weight] [int] NOT NULL,
	[age] [int] NOT NULL,
	[sex] [bit] NOT NULL,
	[location] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[regUser_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sport]    Script Date: 30.05.2024 19:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sport](
	[sport_id] [int] IDENTITY(1,1) NOT NULL,
	[sport_name] [varchar](50) NOT NULL,
	[olympic_type] [varchar](50) NOT NULL,
	[individual] [bit] NOT NULL,
	[min_age] [int] NOT NULL,
	[max_age] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sport_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SportSection]    Script Date: 30.05.2024 19:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SportSection](
	[section_id] [int] IDENTITY(1,1) NOT NULL,
	[sport_id] [int] NOT NULL,
	[section_name] [varchar](50) NOT NULL,
	[description] [varchar](2000) NULL,
	[lessons_per_week] [int] NOT NULL,
	[cost] [int] NOT NULL,
	[section_location] [varchar](50) NOT NULL,
	[contacts] [varchar](50) NOT NULL,
 CONSTRAINT [PK__SportSec__F842676A59DC3DF0] PRIMARY KEY CLUSTERED 
(
	[section_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Achievement] ON 

INSERT [dbo].[Achievement] ([achievement_id], [regUser_id], [sport_id], [achievement_name], [achievement_type], [category], [competition_result], [achievement_date]) VALUES (1, 1, 30, N'Первенство Москвы', N'Соревнование', N'', 3, 2015)
INSERT [dbo].[Achievement] ([achievement_id], [regUser_id], [sport_id], [achievement_name], [achievement_type], [category], [competition_result], [achievement_date]) VALUES (2, 1, 30, N'Первенство Москвы', N'Соревнование', N'', 4, 2016)
INSERT [dbo].[Achievement] ([achievement_id], [regUser_id], [sport_id], [achievement_name], [achievement_type], [category], [competition_result], [achievement_date]) VALUES (3, 1, 31, N'Первенство Москвы', N'Соревнование', N'', 4, 2019)
SET IDENTITY_INSERT [dbo].[Achievement] OFF
GO
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([rating_id], [regUser_id], [section_id], [explicit_], [rating_weight], [rating_type], [rating_date], [request_text]) VALUES (24, 1, 75, 0, 3, N'подробнее', CAST(N'2024-05-27' AS Date), NULL)
INSERT [dbo].[Rating] ([rating_id], [regUser_id], [section_id], [explicit_], [rating_weight], [rating_type], [rating_date], [request_text]) VALUES (26, 1, 73, 0, 3, N'подробнее', CAST(N'2024-05-27' AS Date), NULL)
INSERT [dbo].[Rating] ([rating_id], [regUser_id], [section_id], [explicit_], [rating_weight], [rating_type], [rating_date], [request_text]) VALUES (27, 1, 73, 0, 7, N'желаемое', CAST(N'2024-05-27' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Rating] OFF
GO
SET IDENTITY_INSERT [dbo].[RegUser] ON 

INSERT [dbo].[RegUser] ([regUser_id], [regUser_name], [email], [regUser_key], [salt], [height], [weight], [age], [sex], [location]) VALUES (1, N'Кукушунчик', N'qq@gmail.com', 0xBA23137E6702712D16A5C34CB1FA56A2400D0009, 0x8F6E0017EB76400410207E81DBE685F6F316DEBD, 183, 66, 21, 0, N'темный лес')
INSERT [dbo].[RegUser] ([regUser_id], [regUser_name], [email], [regUser_key], [salt], [height], [weight], [age], [sex], [location]) VALUES (2, N'Дмитрий', N'dp@gmail.com', 0xC3493C5A688CE1FB431684D54E049322C2915F2D, 0xDE61EE37E2B57040FA61083B4727EB320109893D, 183, 67, 21, 0, N'бибирево')
INSERT [dbo].[RegUser] ([regUser_id], [regUser_name], [email], [regUser_key], [salt], [height], [weight], [age], [sex], [location]) VALUES (3, N'Неизвестно', N'ww@gmail.com', 0x07D6C0C2111160906E0E78E0734DBB80FFF262D6, 0x56BA23D90ED4335F36389326752748381E092C50, 183, 67, 21, 0, N'неизвестно')
SET IDENTITY_INSERT [dbo].[RegUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Sport] ON 

INSERT [dbo].[Sport] ([sport_id], [sport_name], [olympic_type], [individual], [min_age], [max_age]) VALUES (1, N'Легкая атлетика', N'Циклический', 1, 10, 15)
INSERT [dbo].[Sport] ([sport_id], [sport_name], [olympic_type], [individual], [min_age], [max_age]) VALUES (2, N'Легкая атлетика', N'Циклический', 1, 15, 99)
INSERT [dbo].[Sport] ([sport_id], [sport_name], [olympic_type], [individual], [min_age], [max_age]) VALUES (3, N'Плавание', N'Циклический', 1, 3, 9)
SET IDENTITY_INSERT [dbo].[Sport] OFF
GO
SET IDENTITY_INSERT [dbo].[SportSection] ON 

SET IDENTITY_INSERT [dbo].[SportSection] OFF
GO
ALTER TABLE [dbo].[Achievement]  WITH CHECK ADD  CONSTRAINT [FK__Achieveme__regUs__14270015] FOREIGN KEY([regUser_id])
REFERENCES [dbo].[RegUser] ([regUser_id])
GO
ALTER TABLE [dbo].[Achievement] CHECK CONSTRAINT [FK__Achieveme__regUs__14270015]
GO
ALTER TABLE [dbo].[Achievement]  WITH CHECK ADD  CONSTRAINT [FK__Achieveme__sport__151B244E] FOREIGN KEY([sport_id])
REFERENCES [dbo].[Sport] ([sport_id])
GO
ALTER TABLE [dbo].[Achievement] CHECK CONSTRAINT [FK__Achieveme__sport__151B244E]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK__Rating__regUser___1DB06A4F] FOREIGN KEY([regUser_id])
REFERENCES [dbo].[RegUser] ([regUser_id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK__Rating__regUser___1DB06A4F]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK__Rating__section___1EA48E88] FOREIGN KEY([section_id])
REFERENCES [dbo].[SportSection] ([section_id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK__Rating__section___1EA48E88]
GO
ALTER TABLE [dbo].[SportSection]  WITH CHECK ADD  CONSTRAINT [FK__SportSect__sport__17F790F9] FOREIGN KEY([sport_id])
REFERENCES [dbo].[Sport] ([sport_id])
GO
ALTER TABLE [dbo].[SportSection] CHECK CONSTRAINT [FK__SportSect__sport__17F790F9]
GO
USE [master]
GO
